:root {
    --bg: 4 2 10;
    --text: 245 230 255;

    --indigo-50: 241 241 255;
    --indigo-100: 231 229 255;
    --indigo-200: 211 206 255;
    --indigo-300: 178 167 255;
    --indigo-400: 141 117 255;
    --indigo-500: 106 62 255;
    --indigo-600: 90 23 255;
    --indigo-700: 74 6 251;
    --indigo-800: 62 4 211;
    --indigo-900: 46 5 150;
    --indigo-950: 28 0 117;

    --violet-50: 244 241 255;
    --violet-100: 235 229 255;
    --violet-200: 216 207 255;
    --violet-300: 187 169 255;
    --violet-400: 156 120 255;
    --violet-500: 126 66 255;
    --violet-600: 112 28 255;
    --violet-700: 98 10 247;
    --violet-800: 83 8 210;
    --violet-900: 69 9 169;
    --violet-950: 40 2 115;

    --pink-50: 251 244 250;
    --pink-100: 247 236 245;
    --pink-200: 241 217 238;
    --pink-300: 231 186 223;
    --pink-400: 215 143 202;
    --pink-500: 197 100 176;
    --pink-600: 179 79 152;
    --pink-700: 154 60 126;
    --pink-800: 128 52 105;
    --pink-900: 108 47 90;
    --pink-950: 64 23 51;

    --amber-50: 252 247 240;
    --amber-100: 249 235 219;
    --amber-200: 242 212 182;
    --amber-300: 233 183 136;
    --amber-400: 226 153 101;
    --amber-500: 216 115 55;
    --amber-600: 202 93 44;
    --amber-700: 168 72 38;
    --amber-800: 134 59 38;
    --amber-900: 109 49 33;
    --amber-950: 58 24 16;

    --gradient-100: rgb(var(--indigo-100)), rgb(var(--amber-100));
    --gradient-200: rgb(var(--indigo-200)), rgb(var(--amber-200));
    --gradient-300: rgb(var(--indigo-300)), rgb(var(--amber-300));
    --gradient-400: rgb(var(--indigo-400)), rgb(var(--amber-400));
    --gradient-500: rgb(var(--indigo-500)), rgb(var(--amber-500));
    --gradient-600: rgb(var(--indigo-600)), rgb(var(--amber-600));
    --gradient-700: rgb(var(--indigo-700)), rgb(var(--amber-700));
    --gradient-800: rgb(var(--indigo-800)), rgb(var(--amber-800));
    --gradient-900: rgb(var(--indigo-900)), rgb(var(--amber-900));
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #432698 #12092b;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #12092b;
}

*::-webkit-scrollbar-track:hover {
    background-color: #1b0d41;
}

*::-webkit-scrollbar-track:active {
    background-color: #241157;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #432698;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #3b2185;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #351e77;
}

body {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    background-color: rgb(var(--bg));
    background-image: url(lib/assets/bg.svg);
    color: rgb(var(--text));
}

.section-visible {
    text-decoration-color: rgb(var(--text) / 100%);
    text-underline-offset: 4px;
    text-shadow: 0 -3px 25px rgb(var(--text));
}
.gradient {
    --gradient: var(--gradient-400);
    background-image: linear-gradient(to right, var(--gradient));
    background-clip: text;
    color: transparent;
}

.cta-btn {
    font-size: 0.875rem;
    font-weight: bold;
    max-width: 8rem;
    margin-top: 1rem;
    border-radius: 0.5em;
    background-color: rgb(var(--amber-300));
    text-shadow: 0px 0px 5px rgb(var(--amber-800));
    padding: 0.5em 0.75em;
    border: none;
    box-shadow: 0 2px 10px -3px rgb(var(--amber-300));
    transition: box-shadow 300ms ease-out, transform 200ms ease-out;
}

@media (min-width: 768px) {
    .cta-btn {
        font-size: 1rem;
    }
}

.cta-btn:hover,
.cta-btn:active {
    transform: translateY(-3px);
    box-shadow: 0 0 12px -1px rgb(var(--amber-300));
}

.center {
    margin-inline: auto;
    text-align: center;
}
